* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(214, 214, 214);

}

::-webkit-scrollbar {
  display: none;
}