* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  color: rgb(20, 20, 20);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(189, 189, 189);
}

::-webkit-scrollbar {
  display: none;
}