
.davbar {
  display: flex;
  height: 190px;
  width: 100vw;
  background-color: #fffffff7;
  justify-content: space-between;
  padding: 0 15.5%;
  overflow: hidden;
  top:0;
  z-index: 100;
  box-shadow: -1px 1px 4px 0px rgba(0,0,0,1);
  box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  -webkit-box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  -moz-box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  transition: ease-in .1s;

}


.davbar__blue {
  display: flex;
  height: 55px;
  width: 100vw;
  justify-content: space-between;
  padding: 0 15.5%;
  overflow: hidden;
  
  top:0;
  z-index: 100;
  box-shadow: -1px 1px 4px 0px rgba(0,0,0,1);
  box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  -webkit-box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  -moz-box-shadow: -1px 1px 4px 0px rgba(99,99,99,1);
  background-color: #fffffff7;
  transition: ease-in .2s;
  position: fixed;
}

.davbar__blue div p{
  display: none;
  transition: ease-in;
}

.davbar__blue div h1 {
  font-size: 19px;
  transition: ease-in;
}