.product-images-slider {
    height: 82%;
    width: 100%;
    



    .swiper-slide {
        overflow: hidden;
        position: relative;
        height: 94%;
        

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            object-fit: fill;
            border-radius: 10px;
        }
    }

    .swiper-button-prev {
        left: 30;
        color: rgb(255, 255, 255);
    }

    .swiper-button-next {
        right: 30;
        color: rgb(255, 255, 255);
    }
}

.product-images-slider-thumbs {
    .swiper-slide {
        cursor: pointer;
        border: 1px solid #dddbdb;
        border-radius: 10px;

        &-thumb-active {
            border-color: #ff02f2;
            border-radius: 10px;
        }
    }

    &-wrapper {
        width: 100%;
        height: 125px;
        overflow: hidden;
        position: relative;


        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
        }

       


    
    }

    @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi){
        &-wrapper {
            width: 100%;
            height: 90px;
            overflow: hidden;
            position: relative;
    
    
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 10px;
            }

        }
    }
}