.product-images-slider {
    height: 82%;
    width: 100%;
    



    .swiper-slide {
        overflow: hidden;
        position: relative;
        height: 94%;
        

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:100%;
            object-fit: fill;
        }
    }

    .swiper-button-prev {
        left: 30;
        color: rgb(255, 255, 255);
    }

    .swiper-button-next {
        right: 30;
        color: rgb(255, 255, 255);
    }
}

.product-images-slider-thumbs {
    .swiper-slide {
        cursor: pointer;
        border: 1px solid #dddbdb;

        &-thumb-active {
            border-color: #ff02f2;
        }
    }

    &-wrapper {
        width: 100%;
        height: 125px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}